body{
    font-family: 'Roboto', sans-serif;
    background-color: #b5b9de;
}

/* navbar css starts here  */
.bg-light{
    background-color: #090605!important;
}

.navbar-brand{
    font-size: 2.5rem;
    color: #f2f5f9!important;
}

.nav-link{
    color: #ecedee!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #786e6e;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(228, 235, 240)!important;
    color: #062949!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(164, 188, 195)!important;
}